.category {
	margin-left: 20px;
	color: white;
}

.category__posters {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 20px;
}

.category__posters::-webkit-scrollbar {
	display: none;
}

.category__poster {
	object-fit: contain;
	width: 100%;
	max-height: 100px;
	margin-right: 10px;
	transition: transform 450ms;
}

.category__posterLarge {
	max-height: 250px;
}

.category__poster:hover {
	transform: scale(1.08);
}

.category__posterLarge:hover {
	transform: scale(1.09);
}
