.poster {
	object-fit: contain;
	width: 100%;
	max-height: 150px;
	margin-right: 5px;
	transition: transform 450ms;
	border-radius: 5px;
}

.poster__large {
	max-height: 350px;
}

.poster:hover {
	transform: scale(1.08);
}

.poster__large:hover {
	transform: scale(1.09);
}
