.poster {
	object-fit: contain;
	width: 100%;
	max-height: 100px;
	margin-right: 10px;
	transition: transform 450ms;
}

.poster__large {
	max-height: 250px;
}

.poster:hover {
	transform: scale(1.08);
}

.poster__large:hover {
	transform: scale(1.09);
}
